<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Create a new Task

         </h1>
        <input #taskTitle class="input has-background-light" type="text" placeholder="Enter a task name...">
        <br><br>
        <div class="butttons">
          <button class="button" style="margin-right: 10px;left:335px;" routerLink="/">Cancel</button>
          <button class="button is-primary" style="left:335px;" (click)="createTask(taskTitle.value)">Create</button>
        </div>

    </div>
</div> 