@import '../../../main-styles.scss';

.task-manager-container{
    display: flex;
    width:100%;
    height: 100%;
    max-width:800px;
    max-height: 500px;
}
.sidebar{
    display:flex;
    flex-direction: column;
    width: 250px;
    background: white;
    padding: 42px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.task-list-container{
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 42px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    .top-bar{
        margin-bottom: 30 px;
        display : flex;   
        .dropdown{
            margin-top: -10px;
        }
        .title{
            flex-grow : 1;
            margin: 0;
        }
       
    }
    
}
.title{
    font-family: 'Lato';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.list-menu{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    flex-grow: 1;
    .list-menu-item{
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        color: rgb(32, 32, 30);
        margin-bottom: 5px;

        &:hover{
            background: $light;
        }
        &.is-active{
            background:$light-pink;
            color: cff8ef;
        }

    }
}
.task{
    display: flex; 
    background: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center ;

    &:not(.complete){
        cursor: pointer;
    transition: box-shadow 0.2s ease,transform 0.2s ease;

    &:active{
        transform:scale(0.95);
    }
    &:hover{
        box-shadow: 0 0 0 3px hsl(0, 10%, 94%);
        .task-buttons{
            opacity: 1;
        }
    }

    }
    &.completed{
        text-decoration: line-through;
        opacity: 0.7;
    }
    .task-text{
        flex-grow :1;
    }
    .task-buttons{
        transition: opacity 0.2s;
        opacity: 0;
    }
    
}
.circle-add-button{
    position: absolute;
    bottom :35px;
    right:35px;
    height: 50px;
    width: 50px;
    background:$primary;
    border-radius: 50%;
}
.empty-state-text {
    margin: 30px;
    font-size: 15px;
    color: #777;
    text-align: center;
}